<div class="wrapper">
  <div class="set-width my-3 d-flex border p-3">
    <div class="col-6 space-between">
      <div>
        <h3>
          <%= link_to recipe.name, user_recipe_path(id: recipe.id, user_id: recipe.user.id), class: "card-title" %>
        </h3>
<%= button_to "Delete" , user_recipe_path(recipe.user, recipe.id), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>

    <div class="col-6">
      <span>Description</span>
      <p class="card-text">
        <%= recipe.description %>
      </p>
    </div>
  </div>
</div>
